body {
    margin: 0;
    padding: 0;
    color: #282828;
    font-family:'Montserrat', sans-serif;
    box-sizing: border-box;
    
}

/* Layout */



header{
    background-color: #282828;
    color: whitesmoke;
}

nav li{
   list-style: none;
   cursor: pointer;
}

nav ul {
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.icon{
    width: 25px;
}

.align-right{
    margin-left: auto;

}

.item{
    position: relative;
    
}


.img-banner{   /*  */
    position: absolute;
    top: 0;
    padding: 10px;
}

.btn-stlye{
    background-color: #cd6858;
    color: whitesmoke;
}

button{
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    align-self: center;
}


.item-img{
    width: 100%;
    height: auto;
    display: block;
}   

.chatbox-bg{
    position: fixed;
    bottom: 6px;
    right: 6px;
    background-color: #dda15e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    display: flex;
}

.chatbox-img{
   width: 50%;
   margin: auto;
}

/* Typography */

.logo{
    font-size: 18px;
    font-weight: 700;
}

h1{
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.caption{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
